{{< default/layout }}
    {{$content}}
        <h1> Training Materials </h1>

        {{> error_success }}

        <form method=post>
            <textarea name=links>{{links}}</textarea>

            <input class="button large" type=submit value=Update>
        </form>
    {{/content}}
{{/ default/layout }}

