{{#error}}<p><b>Error:</b> {{.}}</p>{{/error}}

<form method=post>
    <label> Promo Code <input type=text name=promo_code value="{{promo_code}}"> </label>
    <input type=submit value="Login">
</form>

<a href="/create_admin_session">Admin Login</a>
