{{< default/layout }}
    {{$content}}
        <h1> Training Login </h1>

        {{> error_success }}

        <form method=post>
            <label> Promo Code <input type=text name=promo_code value="{{promo_code}}"> </label>
            <input class=button type=submit value="Login">
        </form>

        <a href="/create_admin_session">Admin Login</a>
    {{/content}}
{{/ default/layout }}
