<!doctype html>
<meta encoding=UTF-8>

<link rel=stylesheet href=/{{theme}}_view.css>
{{#page.custom_css}}<style>{{{.}}}</style>{{/page.custom_css}}

<title>{{page.site_name}}</title>

<body>
    <h1><i>{{page.site_name}}</i></h1>

    {{#page.updates}}
    <div class=update>
        <h2 class=title>{{title}}</h2>
        <div class=body>{{body}}</div>
    </div>
    {{/page.updates}}
</body>
