<!doctype html>
<html lang=en>
<html>
    <head>
        <meta charset=utf-8>
        <title> You are not allow to view this page | {{ app }} </title>
        <link rel=stylesheet href=/app.css>
        <style> body{ margin-top: 10%; } .alert{ padding: 10%; } </style>
    </head>
    <body>
        <div class="wrapper content">
            <p class=alert>You are not allow to view this page.</p>
        </div>
    </body>
</html>

