{{< layout }}
    {{$content}}
        <h1> {{app}} {{^create}}Update{{/create}} {{#create}}Create{{/create}} Page</h1>
        {{^create}}
            <a href="/pages/{{name}}/delete">Delete Page</a>
            |
            <a href="/{{name}}">View Page</a>
        {{/create}}

        {{> alert_success }}

        <form method=post {{#create}}action=/pages{{/create}}>
            <label>
                Page Name
                <input name=name value="{{name}}" placeholder="Page Name">
            </label>

            {{#create}}
            <input type=hidden name=create value=1>
            <label>
                Template
                <select name=theme>
                    {{#templates}}<option value="{{name}}">{{name}}</option>{{/templates}}
                </select>
            </label>
            {{/create}}

            {{^create}}
                <input type=hidden name=theme value="{{page.theme}}">
                <hr>
                {{{editing_template}}}
            {{/create}}

            <input class="button large" type=submit>
        </form>
    {{/content}}
{{/layout}}
