{{< layout }}
    {{$content}}
        <h1>{{app}} Pages</h1>
        {{#admin}}<a href="/pages/create">Add New Page</a>{{/admin}}

        {{> alert_success }}

        <ul class=listing>
            {{#pages}}
            <li> {{name}} (<a href={{url}}>View</a> | <a href=/pages{{url}}>Edit</a>) </a>
            {{/pages}}

            {{^pages}}
            <li> Nothing to see here!
            {{/pages}}
        </ul>
    {{/content}}
{{/layout}}
