{{< layout }}
    {{$content}}
        <h1> Password Reset </h1>

        {{> alert_success }}

        {{^success}}
        <form method=post>
            <label> Email <input type=text name=email value="{{email}}"> </label>
            <input class=button type=submit value="Reset">
        </form>
        {{/success}}
    {{/content}}
{{/layout}}


