{{< layout }}
    {{$content}}
        <h1> Password Reset </h1>

        {{> alert_success }}

        {{#token_verified}}
        <p>Please enter a new password below</p>
        <form method=post>
            <label> Password <input type=password name=password value="{{password}}"> </label>
            <label> Verify Password <input type=password name=_password value="{{_password}}"> </label>
            <input class=button type=submit value="Continue">
        </form>
        {{/token_verified}}
        {{^token_verified}}
        <div class="alert dialog">
            Unfortunately, this link appears to be outdated. Please try resetting your password again and use the new link you receive in your email.
            <br>
            <a class="button" href="/password_reset">Try Again</a>
        </div>
        {{/token_verified}}
    {{/content}}
{{/layout}}


