{{< layout }}
    {{$content}}
    <h1> {{app}} {{^create}}Update{{/create}} {{#create}}Create{{/create}} Template</h1>
        <a href="/templates/{{name}}/delete">Delete Template</a>

        {{> alert_success }}

        <form method=post {{#create}}action=/templates{{/create}}>
            <label>
                Template Name
                <input name=name value="{{name}}" placeholder="Template Name">
            </label>

            <label>
                Layout CSS
                <textarea name=css placeholder="CSS">{{css}}</textarea>
            </label>
            <label>
                Layout Template (<a href="https://mustache.github.io/mustache.5.html">mustache</a>)
                <textarea name=view placeholder="Layout">{{view}}</textarea>
            </label>
            <label>
                JSON Data Template
                <textarea name=data placeholder="Placeholder Data">{{data}}</textarea>
            </label>
            <label>
                Editing Template (<a href="https://mustache.github.io/mustache.5.html">mustache</a>)
                <textarea name=edit placeholder="Editing Template">{{edit}}</textarea>
            </label>

            <input class="button large" type=submit>
        </form>
    {{/content}}
{{/layout}}
