{{< layout }}
    {{$content}}
        <h1>{{app}} Templates</h1>
        <a href="/templates/create">Add New Template</a>

        {{> alert_success }}

        <ul class=listing>
            {{#templates}}
            <li> <a href={{url}}>&#147;{{name}}&#148; template</a>
            {{/templates}}

            {{^templates}}
            <li> Nothing to see here!
            {{/templates}}
        </ul>
    {{/content}}
{{/layout}}
