{{< layout }}
    {{$content}}
        <h1>{{app}} Templates</h1>

        <ul>
            {{#templates}}
            <li> <a href={{url}}>&#147;{{name}}&#148; template</a>
            {{/templates}}

            {{^templates}}
            <li> Nothing to see here!
            {{/templates}}
        </ul>
    {{/content}}
{{/layout}}
